.login-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn {
  margin-top: 25px;
  margin-left: 50px;
}

.username {
  margin-right: 40px;
}

.red-error {
  color: red;
}
